body {
  font: 10px sans-serif;
}

text {
  fill: red;
}

text.name {
  fill: black;
}

circle {
  fill-opacity: 0.5;
  stroke-width: 2;
  stroke: red;
  stroke-opacity: 0.5;
  fill: red;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

